<%- include('../partials/header'); %>
<h1><%= pageTitle %></h1>
    <div class="container">

        <form method="POST" action="/bookrepo/<%= book.slug %>?_method=PATCH">

            <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" id="title" value="<%= book.title %>">
            </div>

            <div class="form-group">
                <label for="author">Author</label>
                <input type="text" class="form-control" name="author" id="author" value="<%= book.author %>">
            </div>

            <div class="form-group">
                <label for="publish_year">Year of publish</label>
                <input type="text" class="form-control" name="publish_year" id="publish_year" value="<%= book.publish_year %>">
            </div>

            <div class="form-group">
                <label for="synopsis">Synopsis</label>
                <input type="text" class="form-control" name="synopsis" id="synopsis" placeholder="Edit book synopsis" value="<%= book.synopsis %>">
            </div>


            <!-- Image URL -->
            <div class="form-group">
                <label for="img-url">Image URL</label>
                <input type="url" class="form-control" name="img_url" id="img-url" value="<%= book.image %>">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>

<%- include('../partials/footer'); %>
